.general {
    background-color: #36424b;
    padding-bottom: 10px;
    
}

.body_uno{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    
    
    
}
.hidden {
    overflow: hidden;
}




.body_uno, .cubo, .loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 20%;
    height: 200px;
    
}

@keyframes rotar {
    0%{transform: rotateY(0deg)rotateX(0deg);}
    50%{transform: rotateY(360deg)rotateX(360deg);}
    100%{transform: rotateY(0deg)rotateX(0deg);}
}

.cubo{
    height: 60%;
    transform-style: preserve-3d;
    animation: rotar 8s linear infinite;
}

.cubo > span{
    position: absolute;
    width: 4em;
    height: 4em;
    border: 2px solid orangered;
    box-shadow: inset 0px 0px 15px 5px rgb(255, 255, 255), 0px 0px 40px 1px rgba(124, 50, 0, 0.15);
    border-radius: 4px;
}

.cubo > span:nth-child(1){transform: rotateY(90deg) translateZ(2em);}

.cubo > span:nth-child(2){transform: rotateY(90deg) translateZ(-2em);}

.cubo > span:nth-child(3){transform: rotateY(90deg) translateZ(-2em);}

.cubo > span:nth-child(4){transform: rotateY(90deg) translateZ(2em);}

.cubo > span:nth-child(5){transform: translateZ(-2em);}

.cubo > span:nth-child(6){transform: translateZ(2em);}

.loading{
    height: 40%;
}

.huno {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;;
    font-weight: 100;
    letter-spacing: 7px;
    font-size: 35px;
    gap: 0;
}

.puno {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;;
    font-weight: 100;
    letter-spacing: 7px;
    font-size: 25px;
    gap: 0;
}













/*Header y Nav*/













header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding: 0 2rem 0 0;
    
} 


.contenedor {
   background-color: #36424b;
   height: 100vh;
   width: 98,2vw;
}

.logo {
    max-width: 13rem;
    padding: 0.5rem 0.4rem 0.4rem 0.4rem;
}
.line{
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    background-color: #fff;
    display: none;
}

.burguer_cerrar {
    gap: 1rem;
    

}

.nav_list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav_list li a {
    padding: 1rem 0;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s ease;
}

.nav_list:hover li a {
    color: #dc522a;
}

.nav_list:hover li a:not(:hover) {
    color: #fff;
    opacity: 0.3;
    filter: blur(1px);
}


.burguer,
.burguer_cerrar {
    display: none;
}

@media screen and (max-width: 680px){
    .burguer, 
    .burguer_cerrar {
        display: block;
        border: 0;
        font-size: 1.8rem;
        background-color: transparent;
        color: #dc522a;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
       
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.8rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #36424b;
        padding: 1rem;
        
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
        
    }

    .nav_visible {
    opacity: 1;
    visibility: visible;
    }

    .nav_list {
        flex-direction: column;
        align-items: end;
    }
    
}


article {
    color: #fff;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
}

.arituculo_general {
   display: flex;
   justify-content:space-between;
   
}

h1 {
    color: #dc522a;
    width: 3vw;
    text-align: left;
    font-size: 55px;
    
    padding: 0 30px;
    text-shadow: 2px 2px 8px #000000;
}


.textos {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 95%;
    margin: 15px auto;
    margin-bottom: 60px;
    
}

.textos .imagenes {
    width: 230px;
    border-radius: 10px;
    
}

.textos p {
    margin-left: 20px;
   padding: 10px;
   font-size: 25px;
   text-align: justify;
   
}



@media screen and (max-width: 590px) {
    .textos {
        display: block;
        justify-content: center;
        justify-items: center;
        padding: 0 0 10px 18px;
    }

    .textos p {
        font-size: 17px;
        margin-right: 30px;
    }


    .textos .imagenes {
        
        height: 230px;
        margin: 20px;
        margin-bottom: 10px;
        margin-left: 76px;
        justify-content: center;
        

       


    }
   
    
    
}





.textos_dos {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 95%;
    margin: 15px auto;
    margin-bottom: 0 auto;
    
}

.textos_dos .imagenes {
    width: 230px;
    border-radius: 10px;
    border: solid 3px #dc522a;
}

.textos_dos p {
   margin-right: 2px;
   margin-left: 20px;
   font-size: 25px;
   text-align: justify;
   
}

.video{
    padding: 25px;
}


@media screen and (max-width: 590px) {
    .textos_dos {
        display: block;
        justify-content: center;
        justify-items: center;
        padding: 0 0 10px 40px;
    }

    .textos_dos p {
        font-size: 17px;
        margin: 0 40px 0 0;
    }


    .textos_dos .imagenes {
        
        height: 230px;
        margin: 20px;
        margin-left: 45px;
        justify-content: center;
        

       


    }
    
}

.textos_tres {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 95%;
    margin: 15px auto;
    margin-bottom: 0;
}

.textos_tres h3 {
    color: #dc522a;
    width: 3vw;
    text-align: left;
    font-size: 25px;
    
    padding: 0 30px;
    text-shadow: 2px 2px 8px #000000;

}

.textos_tres .imagenes {
    width: 280px;
    border-radius: 10px;
    border: solid 3px #dc522a;
    margin-top: 45px;
    margin-right: 35px;
    margin-left: 10px;
   

}

.textos_tres p {
    margin-top: 14px;
   margin-right: 40px;
   font-size: 27px;
   text-align: justify;
   
   
}
 
.btn {
    margin-top: 12em;
    margin-right: 3em;

}

.button-container-1 button {
    
    width: 170px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #dc522a;
    padding: 10px;
    mask-size: 2300% 100%;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
  }
  .button-container-1 button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
  }

.botones {
    display: flex;
    justify-content: end;
    text-decoration: none;

    

}

@media screen and (max-width: 590px) {
    .textos_tres {
        display: block;
        justify-content: center;
        justify-items: center;
        padding: 0 0 4px 40px;
    }
    
    .textos_tres h3 {
        padding-top: 25px;
        padding-left: 0;
        
        
    }

    .textos_tres p {
        font-size: 14px;
    }


    .textos_tres .imagenes {
        
        height: 230px;
        margin: 20px;
        margin-bottom: 2px;
        margin-left: 15px;
        justify-content: center;
    }
   
    .textos_tres .btn {
        margin-top: 20px;
        margin-right: 115px;
        margin-bottom: 10px;
    }
    
}


.textos_cuatro {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 95%;
    margin: 15px auto;
    margin-bottom: 0px;
}

.textos_cuatro h3 {
    color: #dc522a;
    width: 3vw;
    text-align: left;
    font-size: 25px;
    
    padding: 0 30px;
    text-shadow: 2px 2px 8px #000000;

}

.textos_cuatro .imagenes {
    width: 180px;
    border-radius: 10px;
    border: solid 3px #dc522a;
    margin-top: 45px;
    margin-right: 35px;
    margin-left: 10px;
   

}

.textos_cuatro p {
    margin-top: 50px;
   margin-right: 40px;
   font-size: 30px;
   text-align: justify;
   
   
}

@media screen and (max-width: 590px) {
    .textos_cuatro {
        display: block;
        justify-content: center;
        justify-items: center;
        padding: 0 0 10px 40px;
        padding-bottom: 10px;

    }

    .textos_cuatro h3 {
        padding-top: 25px;
        padding-left: 0;
        
        
    }

    .textos_cuatro p {
        font-size: 16px;
    }


    .textos_cuatro .imagenes {
        
        height: 230px;
        margin: 20px;
        margin-bottom: 0;
        margin-left: 76px;
        justify-content: center;
   
    }
   
    .textos_cuatro .btn {
        margin-top: 20px;
        margin-right: 115px;
        margin-bottom: 10px;
    }
    
    
}



/*estilos del foteer*/
footer {
    background-color: #dc522a;
   
}

.desarrolladores {
    color: #fff;
    font-size: 22px;
    padding: 14px 35px 2px 0;
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 8px #000000;
   
}

.con_card {
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    gap: 20px;
    padding: 18px 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.card {
    position: relative;
    width: 115px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, .5);
    overflow: hidden;
    transition: .4s;
}

.card:hover {
    transform: translateY(30px);
}

.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 57.5px;
    height: 400px;
    background-color: rgb(0, 0, 0, .9);
    transition: .5s;
}

.card:hover::before {
    top: 0;

}

.card::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 57.5px;
    height: 400px;
    background-color: rgb(0, 0, 0, .9);
    transition: .5s;
}

.card:hover::after {
    bottom: 0;

}

.card .card_img {
    width: 100%;
    height: 100%;
}

.card_content {
    position: absolute;
    top: 100%;
    padding: 0 20px;
    color: #fff;
    z-index: 100;
}

.card:hover .card_content {
    top: 40px;
    transition: .5s;
}

.h3 {
    padding: 0 0 4px 0;
}

.icon {
    color: #dc522a;
    font-size: 1.4rem;
}

.copyright {
    color: #fff;
    font-size: 23px;
    padding: 20px;
    text-align: center;
    text-shadow: 3px 3px 9px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






